
<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="about.component.css">
</head>
<p class='site-margin'>
    Find and share everyday cooking inspiration on Allrecipes. Discover recipes, cooks, videos, and how-tos based on the food you love.

    {Title} is a recipe search engine that lets you search by ingredients you have at home. 
    Find hundreds of recipes you can make right now with the ingredients you have available at home.  
    {Title} can help you save hundreds on grocery bills by showing you how to fully use the ingredients you have at home. 
    Asian,Breads,Breakfast,Cakes,Caribbean,Casseroles,Cookies,Desserts,Dinner,Dips,Drinks,Fish recipes,Grilling & BBQ,Indian 
    & Thai,Italian,Kid Friendly,Meat recipes,Mediterranean,Mexican,Poultry recipes,Quick & Easy,Salad Dressings,Salads,Sandwiches,Sauces,Seafood 
    recipes,Slow Cooker,Soups,Veggie recipes available. 
</p>
