<body>
    <div class="main">
   
    <!--header-->
    <!--main-->
        <!--hero-->
        <header class="hero">
            <div class="hero-container">
              <div class="hero-text">
                <h1>Recipe Hub</h1>
                <h4>No Fluff, Just Recipes</h4>
              </div>
            </div>
        </header>
        <!--hero-->
        <!--grid-->
        <section class="recipes-container">

            <!-- tag container -->
            <div class="tags-container">
              <h5>Tags</h5>
              <div class="tags-list">
                <a href="tag-tasty.html">Tasty</a>
                <a href="tag-breakfast.html">Healthy</a>
                <a href="tag-healthy.html">Breakfast</a>
               
              </div>
            </div>
            <!-- end of tag container -->
            
            <!-- recipes list -->
            <div class="recipes-list">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./assets/recipes/recipe-4.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Banana Pancakes</h5>
                    
                      <a href="/bananapancakes" class="btn btn-primary">See Recipe</a>
                    </div>
                  </div>
              <!-- single recipe -->
              
              <!-- end of single recipe -->
            </div>
            <!-- end of recipes list -->
        </section>
        <!--grid-->
       
    <!--main-->
    </div>
    <!--footer-->
  
    <!--footer-->
</body>