<body>
    <div class="main">
   
    <!--header-->
    <!--main-->
        <!--hero-->
        <header class="hero">
            <div class="hero-container">
              <div class="hero-text">
                <h1>Recipe Hub</h1>
                <h4>No Fluff, Just Recipes</h4>
              </div>
            </div>
        </header>
        <!--hero-->
        <!--grid-->
        <section class="recipes-container">

            <!-- tag container -->
            <div class="tags-container">
              <h5>Tags</h5>
              <div class="tags-list">
                <button class="btn btn-info ml-2 mr-2" (click)="italian()" >Italian</button>
                <button class="btn btn-info ml-2 mr-2" (click)="healthy()" style = "margin-top: 5px;">Healthy</button>
                <button class="btn btn-info ml-2 mr-2" (click)="vegetarian()" style = "margin-top: 5px;">Vegetarian</button>
                <button class="btn btn-info ml-2 mr-2" (click)="all()" style = "margin-top: 5px;">All Recipes</button>
                <button class="btn btn-info ml-2 mr-2" (click)="getAllPantryRecipes()" style = "margin-top: 5px;" *ngIf = "ifLogged()">Pantry Recipes</button>
                <button class="btn btn-info ml-2 mr-2" (click)="getFavorites()" style = "margin-top: 5px;" *ngIf = "ifLogged()">Your Favorites</button>
              </div>
            </div>
            <!-- end of tag container -->
            
            <!-- recipes list -->

              <div class="recipes-list-iterate" *ngFor = "let i of recipes">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{i.info}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{i.name}}</h5>
                      <p>{{i.tags}}</p>
                      <a class="btn btn-primary" (click)="clickedRecipe(i)">See Recipe</a>
                    </div>
                  </div>
                </div>
              <!-- end of single recipe -->
            
            <!-- end of recipes list -->
        </section>
        <!--grid-->
       
    <!--main-->
    </div>
    <!--footer-->
  
    <!--footer-->
</body>