<body>
    <div class="main">
    <!--header-->
    <nav class="navbar">
        <ul class="topnav" id="dropdownClick"><!--unordered list has a 'topnav'class & 'dropdownClick'id to interact with javascript-->
            <li><img src="./assets/main-logo.jpg" alt="Recipe Hub" height="45px"></li><!--1st list item is 'logo'-->
            <li><a href="./index.html">Home</a></li><!--2nd list item is 'home'-->
            <li><a href="./menu.html">Menu</a></li><!--3rd list item is 'menu'-->
            <li><a href="./about.html">About</a></li><!--4th list item is 'about'-->
            <li><a href="./tags.html">Tags</a></li><!--5th list item is 'tags'-->
            <li><a href="./contact.html">Contact</a></li><!--6th list item is 'contact'-->
            <li class="topnav-right"><a class="reg" href="./join.html"><button type="button">Join</button></a></li><!--signup anchor text is at right of navbar-->
            <!--<li class="topnav-right"><a href="E:\My Projects\signup.html">Sign Up</a></li><!--signin anchor text is at right of navbar-->
            <li class="dropdownIcon"><a href="javascript:void(0);" onclick="dropdownMenu()">&#9776;</a></li>
        </ul>
    </nav>
    <!--header-->
    <!--main-->
        <!--hero-->
        <header class="hero">
            <div class="hero-container">
              <div class="hero-text">
                <h1>Recipe Hub</h1>
                <h4>No Fluff, Just Recipes</h4>
              </div>
            </div>
        </header>
        <!--hero-->
        <!--grid-->
        <section class="recipes-container">
            <!-- tag container -->
            <div class="tags-container">
              <h5>recipes</h5>
              <div class="tags-list">
                <a href="tag-tasty.html">Tasty (21)</a>
                <a href="tag-breakfast.html">Breakfast (11)</a>
                <a href="tag-healthy.html">Healthy (17)</a>
                <a href="tag-food.html">Food (33)</a>
                <a href="tag-brunch.html">Brunch (20)</a>
                <a href="tag-snacks.html">Snacks (6)</a>
              </div>
            </div>
            <!-- end of tag container -->
            <!-- recipes list -->
            <div class="recipes-list">
              <!-- single recipe -->
              <a href="/Recipes/recipe-1.html" class="recipe">
                <img
                  src="./assets/recipes/recipe-1.jpeg"
                  class="img recipe-img"
                  alt=""
                />
                <h6>Carne Asada</h6>
                <p>Prep : 10min | Cook : 20min</p>
              </a>
              <!-- end of single recipe -->
              <!-- single recipe -->
              <a href="/Recipes/recipe-2.html" class="recipe">
                <img
                  src="./assets/recipes/recipe-2.jpeg"
                  class="img recipe-img"
                  alt=""
                />
                <h6>Greek Ribs</h6>
                <p>Prep : 20min | Cook : 1hr 15min</p>
              </a>
              <!-- end of single recipe -->
              <!-- single recipe -->
              <a href="/Recipes/recipe-3.html" class="recipe">
                <img
                  src="./assets/recipes/recipe-3.jpeg"
                  class="img recipe-img"
                  alt=""
                />
                <h6>Vegetable Soup</h6>
                <p>Prep : 10min | Cook : 30min</p>
              </a>
              <!-- end of single recipe -->
              <!-- single recipe -->
              <a href="/Recipes/recipe-4.html" class="recipe">
                <img
                  src="./assets/recipes/recipe-4.jpeg"
                  class="img recipe-img"
                  alt=""
                />
                <h6>Banana Pancakes</h6>
                <p>Prep : 10min | Cook : 20min</p>
              </a>
              <!-- end of single recipe -->
            </div>
            <!-- end of recipes list -->
        </section>
        <!--grid-->
        <!--slider-->
        <div class="chef">
            <h4 class="chef-header">Our Chef</h4>
            <div id="slider">
                <figure>
                    <a href="./chef1.html"><img src="./assets/slider 1.jpg" width="450px" height="330"></a>
                    <a href="./chef2.html"><img src="./assets/slider 2.jpg" width="450px" height="330"></a>
                    <a href="./chef3.html"><img src="./assets/slider 3.jpg" width="450px" height="330"></a>
                    <a href="./chef2.html"><img src="./assets/slider 2.jpg" width="450px" height="330"></a>
                    <a href="./chef1.html"><img src="./assets/slider 1.jpg" width="450px" height="330"></a>
                </figure>
            </div>
        </div>
        <!--slider-->
        <!--tags-->
        <div class="tags">
            <h4 class="chef-header">Tags</h4>
            <div class="tags-grid">
                <div class="row">
                    <div class="col-2" ><a href="tag-breakfast.html">#Breakfast</a></div>
                    <div class="col-2" ><a href="tag-tasty.html">#Tasty</a></div>
                    <div class="col-2" ><a href="tag-brunch.html">#Brunch</a></div>
                    <div class="col-2" ><a href="tag-food.html">#Food</a></div>
                    <div class="col-2" ><a href="tag-healthy.html">#Healthy</a></div>
                    <div class="col-2" ><a href="tag-snacks.html">#Snacks</a></div>
                </div>
            </div>
        </div>
        <!--tags-->
    <!--main-->
    </div>
    <!--footer-->
    <footer class="page-footer">
        <p>Copyright
          &copy; <span id="date"></span>
          <span class="footer-logo">Recipe Hub</span> Built by
          <a href="https://github.com/Dipak-Zad">Dipak Zad</a>
        </p>
      </footer>
    <!--footer-->
</body>