<main class="page">
    <div class="recipe-page">
      <section class="recipe-hero">
        <img
          src="/assets/recipes/recipe-4.jpeg"
          class="img recipe-hero-img"
        />
        <article class="recipe-info">
          <h2>Banana Pancakes</h2>
      
            <article>
              <i class="fas fa-clock"></i>
              <h3>Health Info</h3>
              <p>Fat: 18g | Saturated Fat: 10g | Cholesterol: 540mg | Sodium: 1544mg</p>
            </article>
           
          <p class="recipe-tags">
            Tags : <a href="/tag-tasty.html">tasty</a>
            <a href="/tag-breakfast.html">breakfast</a>
            <a href="/tag-healthy.html">healthy</a>
            
          </p>
        </article>
      </section>
      <!-- content -->
      <section class="recipe-content">
        <article>
          <h4>instructions</h4>
          <!-- single instruction -->
          <div class="single-instruction">
            <header>
              <p>Steps</p>
              <div></div>
            </header>
            <p>
              If you’re using an electric skillet, preheat it to 350 degrees Fahrenheit now. In a medium bowl, combine the flour, baking powder, cinnamon and salt. Whisk to blend.
              In a smaller bowl, combine the milk, mashed banana, egg, maple syrup, butter and vanilla. Whisk until blended. Pour the liquid mixture into the flour mixture and mix just until combined.
              If you are not using an electric skillet, heat a heavy cast iron skillet or nonstick griddle over medium-low heat. You’re ready to start cooking pancakes once a drop of water sizzles on contact with the hot surface. If necessary, lightly oil the cooking surface with additional butter or coconut oil, carefully wiping up excess with a paper towel (nonstick surfaces likely won’t require any oil).
              Using a ⅓-cup measuring cup, scoop the batter onto the hot skillet, leaving a couple of inches around each pancake for expansion. Cook until small bubbles form on the surface of the pancakes, 2 to 3 minutes (you’ll know it’s ready to flip when about ½-inch of the perimeter is matte instead of glossy).
              Flip the pancakes, then cook until lightly golden on both sides, 1 to 2 minutes more. Repeat the process with the remaining batter, adding more butter or oil and adjusting the heat as necessary.
              Serve immediately or keep warm in a 200 degree Fahrenheit oven. If desired, top individual servings with a spread of peanut or almond butter and/or sliced bananas, and serve with more maple syrup or honey on the side.
            </p>
          </div>
          <!-- end of single instruction -->
      
        </article>
        <article class="second-column">
          <div>
            <h4>ingredients</h4>
            <p class="single-ingredient">Flour</p>
            <p class="single-ingredient">Eggs</p>
            <p class="single-ingredient">Milk</p>
            <p class="single-ingredient">Baking Powder</p>
            <p class="single-ingredient">Banana</p>
            <p class="single-ingredient">Butter</p>
            <p class="single-ingredient">Maple Syrup</p>
            <p class="single-ingredient">Vanilla Extract</p>
           
          </div>
       
        </article>
      </section>
    </div>
  </main>