<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="addrecipe.component.css">
<div class='margins'>
    <form>
        <div class="form-group">
          <label >Recipe Name</label>
          <input type="email" class="form-control" id="recipeName" placeholder="Recipe Name" [(ngModel)]="recipe.name" name = "name">
        </div>

        <div class="form-group">
          <label >Health Info</label>
          <input type="email" class="form-control" id="recipeName" placeholder="Calories: 338kcal | Carbohydrates: 1g | Protein: 40g" [(ngModel)]="recipe.link" name = "link">
        </div>
      
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Recipe Instructions</label>
            <textarea class="form-control" id="recipeDescription" rows="3" [(ngModel)]="recipe.instructions" name = "instructions" ></textarea>
          </div>
          <div class="form-group">
            <label >Tags</label>
            <input type="text" class="form-control" id="recipeName" placeholder="Cheesey, Italian, Dinner" [(ngModel)]="recipe.tags" name = "tags">
            <small>Separate by commas</small>
          </div>
          <div class="form-group">
            <label >link</label>
            <input type="text" class="form-control" id="recipeName" placeholder="google.com" [(ngModel)]="recipe.info" name = "info">
            <small>Separate by commas</small>
          </div>

          <!-- <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div> -->

          <div class="form-group">
            <label>Ingredients</label>
            <input type="text" class="form-control" id="recipeName" placeholder="apple, olive oil" [(ngModel)]="recipe.ingredients_list" name = "list">
            <small>Separate by commas</small>
          </div>
          <div>
          <button type="submit" class="btn btn-primary btn-lg" (click)="addRecipe()">Submit</button>
        </div>

<!-- <div class="dropdown">
  <label for="exampleFormControlFile1">Ingredients</label><br>
  <button class="btn btn-default dropdown-toggle" type="button" 
          id="dropdownMenu1" data-toggle="dropdown" 
          aria-haspopup="true" aria-expanded="true">
 <div>
    <i class="glyphicon glyphicon-cutlery" style="margin-right: 5px;"> </i>
    <i class="glyphicon glyphicon-tags" style="margin-right: 5px;"> </i></div>
   

  </button> -->

  <!-- <ul class="dropdown-menu checkbox-menu allow-focus row" aria-labelledby="dropdownMenu1" [(ngModel)]="recipe.ingredients_list" name = "email">
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Apple
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Baking Soda
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Bacon
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Avacado
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Cheese
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Balsamic Vinegar
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Bananas
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Basil
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Black Pepper
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Bread
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Broccoli
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Brown Sugar
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Brussel Sprouts
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Butter
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Carrot
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Celery
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Chicken
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Chicken Broth
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Chocolate Chips
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Cinnamon
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Egg
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Flour
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Garlic
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox">Heavy Cream
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Lemon
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Pepperoni
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Maple Syrup
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Milk
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Mustard
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox">Nutmeg
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Olive Oil
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Onion
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Parmesan
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Parsley
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Pasta
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Pie Crust
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Pine Nuts
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Rice
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Salt
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Scallions
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Sesame Oil
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Shallots
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Shrimp
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Soy Sauce
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Sugar
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Tomato
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Vanilla Extract
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> White Wine
      </label>
    </li>
    <li class='col-sm-2'>
      <label>
        <input type="checkbox"> Peppers
      </label>
    </li>
   
    
  </ul> -->
    <!-- <br><br>   
    
</div> -->



          <br>
       
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.6.0/bootstrap-tagsinput.min.js"></script>
