<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="pantry.component.css">
</head>

<!-- Should be able to see their pantry and add or remove items from pantry. -->
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/recipes/recipe-3.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Vegetable Soup</h5>
      
      <a href="#" class="btn btn-primary">See Recipe</a>
    </div>
  </div>
