<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="pantry.component.css">
</head>

<!-- Should be able to see their pantry and add or remove items from pantry. -->
<!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/recipes/recipe-3.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Vegetable Soup</h5>
      
      <a routerLink="/vegetablesoup" class="btn btn-primary">See Recipe</a>
    </div>
  </div> -->

  <div class="recipes-list-iterate" *ngFor = "let i of ingredients">
    <div class="card" style="width: 18rem;">
          <h5>{{i}}</h5>
      </div>
    </div>

  <form>
    <div class="form-group">
        <label for="exampleInputEmail1">Ingredient</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Ingredient" [(ngModel)]="ingredient" name = "ingredient">
    </div>
    <button type="submit" class="btn btn-primary" (click)="addIngredient()">Add Ingredient</button>
    <button type="submit" class="btn btn-primary" (click)="removeIngredient()" style = "margin-left: 5px;">Remove Ingredient</button>
    </form>
