<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="navbar.component.css">    
</head>

  <nav class="navbar">
    <ul class="topnav" id="dropdownClick"><!--unordered list has a 'topnav'class & 'dropdownClick'id to interact with javascript-->
        <li><img src="./assets/main-logo.jpg" alt="Recipe Hub" height="45px"></li><!--1st list item is 'logo'-->
        <li><a href="./home">Home</a></li><!--2nd list item is 'home'-->
        <li><a href="./menu.html">Menu</a></li><!--3rd list item is 'menu'-->
        <li><a href="./about">About</a></li><!--4th list item is 'about'-->
        <li><a href="./tags.html">Tags</a></li><!--5th list item is 'tags'-->
        <li><a href="./contact.html">Contact</a></li><!--6th list item is 'contact'-->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/addrecipe">My Recipes</a>
              <a class="dropdown-item" href="/profile">My Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/settings">Settings</a>
            </div>
          </li>
         
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        <li class="topnav-right"><a class="reg" href="./join.html"><button type="button">Join</button></a></li><!--signup anchor text is at right of navbar-->
        <!--<li class="topnav-right"><a href="E:\My Projects\signup.html">Sign Up</a></li><!--signin anchor text is at right of navbar-->
        <li class="dropdownIcon"><a href="javascript:void(0);" onclick="dropdownMenu()">&#9776;</a></li>
    </ul>
   
</nav>
<script>
     function dropdownMenu(){/*this is function in javascript, function's name 'dropdownMenu'*/
			var x = document.getElementById("dropdownClick");/*var x assigned id 'dropdownClick' & document is used get our html file*/
			if(x.className === "topnav"){/*if condition is to check whether the id which x is holding has class with name 'topnav'*/
		    	x.className += " responsive"/*if yes then it should be appended with responsive i.e. topnav.responsive*/
			}
			else{
				x.className = "topnav"		/*else classname should be assigned 'topnav'*/
			}		/*in this function we are checking whether screen is in mobile view,if yes then we are appending 'topnav' class to*/
		}	
</script>